{% extends 'core/base.html' %}

{% block title %}inicio{% endblock %}

{% load static %}

{% block content %}
    <h1>restablecer contraseña confirmar</h1>

    <div class="center">
        <form method="post" class="card">
          {% csrf_token %}
          <h2>Restablecimiento de contraseña Confirmar</h2>
          
          {% for field in form %}
                    {{ field.label_tag }} 
                    {{ field }}
                    {% if field.errors %}
                        <small>{{ field.errors|striptags  }}</small> 
                    {% endif %}
            {% endfor %}
          
          
          <div>
            <button type="submit" class="btn btn-primary">Restablecer la contraseña</button>
          </div>
        </form>
    </div>
{% endblock %}