{% extends 'core/base.html' %}

{% block title %}inicio{% endblock %}

{% load static %}

{% block content %}

    <div class="capa">
        <main role="main">
            <div class="container">
            <div class="row mt-4">
                <div class="col-md-12 mx-auto mb-4">
                    <div class="center">
                        <form method="post" class="card">
                            {% csrf_token %}
                            <h2 class="text-center">Restablecer la contraseña</h2>
                
                            {% for field in form %}
                                {{ field.label_tag }} 
                                {{ field }}
                
                                {% if field.errors %}
                                    <small>{{ field.errors|striptags  }}</small> 
                                {% endif %}
                            {% endfor %}
                            
                            <div class="form-buttons">
                                <input type="Submit" value="Send" class="btn btn-primary">
                                <a href="{%url 'login' %}"  class="btn btn-outline">Cancelar</a>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
            </div>
        </main> 
    </div>

<style>
.capa{
    width: 600px;
    margin: auto !important;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
    font-family: "Sans serif";
    border-radius: 20px;
}

</style>
{% endblock content %}


    <!-- <div class="center">
        <form method="post" class="card">
            {% csrf_token %}
            <h2 class="text-center">Restablecer la contraseña</h2>

            {% for field in form %}
                {{ field.label_tag }} 
                {{ field }}

                {% if field.errors %}
                    <small>{{ field.errors|striptags  }}</small> 
                {% endif %}
            {% endfor %}
            
            <div class="form-buttons">
                <input type="submit" value="Send" class="btn btn-primary">
                <a href="{%url 'login' %}"  class="btn btn-outline">Cancelar</a>
            </div>
        </form>
    </div>  -->

	{% comment %} <form action="" method="POST" id="contenedor">
        {% csrf_token %}

            <div class="form-group">

                <label> Email *</label>
                <div class="input-group">
                    {{form.email}}
                </div>

                <div>
                    {{form.email.errors}}
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="enviar" id="botonF">
            </div>
        
            <div class="row m-5">
                {% if 'ok' in request.GET %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>   
                        <p>el mensaje fue enviado exitosamente</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>  
                    </div>
            {% endif %}
            </div>

            <div class="row m-5">s
                {% if 'fail' in request.GET %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                            <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
                        </svg>
                    
                        <p>fallo al enviar el mensaje</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>  
                    </div>
            {% endif %}
            </div>
        </form>
    

        <style>
            .close{
                display: none;
            }
        </style>

        <script>
            const alert = document.querySelector('.alert');
            const btn = document.querySelector('.btn-close');
            btn.addEventListener('click', () =>{
                alert.classList.add("close");
            });
        </script> 
    {% endcomment %}